* {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.personal-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.personal-info-left {
  margin-right: 30px;
}

.personal-info img {
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.personal-info-right h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.personal-info-right p,
.job p,
.education p {
  font-size: 18px;
  margin-bottom: 5px;
}

.certifications {
  margin-top: 30px;
}

.certifications h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.certifications ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certifications li {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 200px;
  text-align: center;
}

.certifications img {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  border-radius: 75%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #333;
}

.certifications p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

.job {
  margin-bottom: 30px;
  padding-right: 30px;
}

.job-title,
.education h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.company-name,
.education .company-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 16px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
}

.education {
  margin-bottom: 30px;
}
